body{
    background-image:  url('../image/background.png');
    font: 8pt Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.image_banner{
    /*background-image: url('../image/banner.png');*/
    
}
.banner_image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header{
    background-image: url('../image/bannerbg.png');
}
.overview_image{
    border-top-right-radius:20px;
}
.overall_content_area{
    display: block;
   border: 4px gray solid;
   margin: auto;
    width: 800px;
    border-radius: 20px;
    height: 900px;
}
.general_overview{
    background-color:  #A2B964;
    width: 250px;
    font: 8pt  Arial,sans-serif;
    float: right;
    border-top-right-radius:20px;
    height: 99%;
}
.rotten_header{
    background-image: url('../image/rbg.png');
    width: 100%;
    height: 83px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: red;
    font-size: 50px;
    font-weight: bold;
    
}
#rotten{
    height:  83px;
    vertical-align: bottom;
    border-top-left-radius: inherit;
}
.under_header{
    font-size: 30px;
    font-style: inherit;
    font-weight: bold;
    color: black;
    padding-bottom: 0px;
    text-align: center;
}
#movie_top{
    font :  24pt bold Tahoma, Verdana, sans-serif;
    text-shadow:  3px 3px #999999;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#col1{
   position: relative;
   padding-top: 2%;
   bottom: 4.75em;
}
.rotten_column{
    width: 30%;
    margin-left: 2%;
    display: inline-block;
}
.comment{
    font-size: 9px;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px gray solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 8px;
}
#comment_images{
    margin-bottom: auto;
    vertical-align: middle;
    
}
#rotten_column1 img,#rotten_column2 img{
    padding-right: 5px;
}
dt{
    font-weight: bold;
    }
.rotten_column img{
    float: left;
    left: 2em;
    top: 1em;
}
.validation_section{
    float:right;
}
#page_number{
    background-color:  #A2B964;
   
    border-bottom-right-radius: 10pt;
    border-bottom-left-radius: 10pt;
    text-align: center;
    
  clear: both;

}
