.calc{
    background-color: rgb(214, 187, 187);
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    border-radius: 10px;
}
footer{
    background-color: blanchedalmond;
    

}
.validation_section{
   
    padding-left: 80%;
}
.coppyright{
    padding-left: 40%;
}
