div.signup{
    background-color: blueviolet;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 3%;
    box-shadow: 5px 5px #888888;
    
}
div{
    margin-bottom: 10px;

   
}
label{
    display: inline-block;
    width: 30%;
}
.id{
    
    display: inline-block;
}
.validationsection{
    align-items: center;
}
#gdr{
    display: inline-block;
    margin-left: 3px;
    margin-top: -1.2em;
}
.text{
    text-align: right;
}
.label{
    display: inline-block;
    align-items: center;
}

.legend{
    border: 1px solid;
    box-shadow: 5px 10px;
    background-color: whitesmoke;
}

.copyright{
    margin-left: 30%;
}
footer{
    margin: 0 auto;
    text-align: center;
    width: 10%;
}
.div1 {
    padding-top: 5%;
}
.div2{
    padding-top: 5%;
}
.logo{
    margin-left: 30%;
    margin-top: 3%;
}
.nerd{
 color: dimgray;   
 font-size: 30px;
 font-weight: bold;
}
.luv{
    color: blue;
    font-size: 30px;
    
}
.tm{
    font-size: 15px;
    color: blue;
}
.signupbutton{
    background:#ca55c0;
     color:rgb(17, 13, 17);
     border-style:outset;
     border-color:#5d6f79;
    font-weight: bolder;
    font-size: 15px;
     font:bold 15px arial,sans-serif;
     text-shadow:none;
}
.back{
    max-width:30px;
    height:auto;
    margin-left: 30%;
    text-align: center;
}