html
  head
    title= title
    link(rel='stylesheet', href='number.css')
  body
    div(class='main')
      h1 The Number Quiz
      p Your Current score is #{message}
      p You have completed the Number Quiz, with score of #{message} out of #{sequencesLength}.