html 
    head 
       title The Number quiz 
       link(rel='stylesheet',href='number.css')
    body 
       div(class="container")
          fieldset 
             legend  Completed 
             h1 The number quiz 
             h3 you current score 
             p you have completed the quiz, with  score of 5   